<script type="text/javascript">
    $(document).ready(function(){
        const today = new Date();
    $('#arrivalDate').val(formatDate(today));

    // Set nilai untuk Departure Date ke satu hari setelah Arrival Date
    const tomorrow = new Date(today);
    tomorrow.setDate(tomorrow.getDate() + 1); // Tambahkan 1 hari
    $('#departureDate').val(formatDate(tomorrow));

    // Panggil calculateNights saat halaman dimuat untuk menampilkan jumlah malam awal
    calculateNights();

    // Event listener untuk menghitung ulang jumlah malam ketika Arrival Date atau Departure Date berubah
    $('#arrivalDate, #departureDate').on('change', calculateNights);
        function getQuery(param){
            var urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(param);
        }

        var currentStep = parseInt(getQuery('tahap') || 0);
        showTahap(currentStep);

        function showTahap(stepIndex){
            var tahap = $(".tahap");
            tahap.removeClass("active"); 
            $(tahap[stepIndex]).addClass("active");

            // Kondisi tombol 'Previous'
            if(stepIndex === 0){
                $("#prevBtn").hide();
            } else {
                $("#prevBtn").show();
            }

            // Kondisi tombol 'Next' dan 'Submit'
            if(stepIndex === tahap.length - 1){
                $("#nextBtn").hide();
                $("#submitBtn").show();
            } else {
                $("#nextBtn").show();
                $("#submitBtn").hide();
            }

            // Update query parameter URL
            history.pushState(null, null, "?tahap=" + stepIndex);
        }

        // Event untuk tombol 'Next'
        $("#nextBtn").click(function(){
            var tahap = $(".tahap");
            if(currentStep < tahap.length - 1){
                currentStep++;
                showTahap(currentStep);
            }
        });

        // Event untuk tombol 'Previous'
        $("#prevBtn").click(function(){
            if(currentStep > 0){
                currentStep--;
                showTahap(currentStep);
            }
        });

        // Inisiasi data roomplan
        roomplan();
        room();
        // Fungsi AJAX untuk mengambil data roomplan
        function room(id = ""){
        var url = "<%= url %>listroom";
        $.ajax({
            url: url,
            type: "POST",
            success: function(row) {
    var roomCheckboxes = "";
    var displayedFloors = {}; // Objek untuk melacak lantai yang sudah ditampilkan

    $.each(row.data, function(key, val) {
        if (val.status !== 0) { // Status 0 berarti tidak tersedia
            // Jika lantai belum pernah ditampilkan, tampilkan header lantai
            if(val.nama_type === "STANDAR ROOM"){
            if (!displayedFloors[val.nama_floor]) {
                roomCheckboxes += `<h4>${val.nama_floor}</h4>`;
                displayedFloors[val.nama_floor] = true; // Tandai lantai sebagai sudah ditampilkan
            }
            
            // Tambahkan checkbox kamar
            roomCheckboxes += `
                <div class="room-box">
                    <input type="checkbox" id="room_number" name="rooms[]" value="${val.room_number}">
                    <label for="room${val.id}">${val.room_number}</label>
                </div>
            `;
        }
        }
    });

    $("#roomSelection").html(roomCheckboxes); // Tempatkan ke kontainer
    if (id) {
        $("[name='id_roomtype']").val(id).trigger("change");
    }

}

        });
    }
    function roomplan(id = ""){
            var url = "<%= url %>listroomplan";
            $.ajax({
                url: url,
                type: "POST",
                success: function(row){
                    $.each(row.data, function(key, val){
                        if(val.status !== 0){
                            var o = $("<option/>", { value: val.id, text: val.nama_plan });
                            $("[name='id_roomplan']").append(o);
                        }
                    });
                    if (id) {
                        $("[name='id_roomtype']").val(id).trigger("change");
                    }
                }
            });
        }
    });
    function formatDate(date) {
    const d = new Date(date);
    let month = '' + (d.getMonth() + 1);
    let day = '' + d.getDate();
    const year = d.getFullYear();

    if (month.length < 2) month = '0' + month;
    if (day.length < 2) day = '0' + day;

    return [year, month, day].join('-');
  }

  // Fungsi untuk menghitung selisih hari antara dua tanggal
  function calculateNights() {
    const arrivalDate = new Date($('#arrivalDate').val());
    const departureDate = new Date($('#departureDate').val());

    // Hitung selisih hari
    const timeDifference = departureDate - arrivalDate;
    const nightCount = timeDifference / (1000 * 3600 * 24); // Konversi dari milidetik ke hari

    // Tampilkan jumlah malam
    $('#nightCountText').text(nightCount + " Malam");
  }

</script>

  
<style>
   
.tahap-2 {
    display: none;
  }
.tahap-3{
    display: none;
}
.tahap {
        display: none;
    }
    .tahap.active {
        display: block;
    }

  .room-box {
    display: inline-block;
    width: 13%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 5px;
    text-align: center;
    vertical-align: in;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #28a745; /* Default: Green for available */
    color: white;
    position: relative;
  }
  .room-box label {
    display: inline;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .room-status {
    position: absolute;
    bottom: 1px;
    left: 40px;
    font-size: 0.7em;
    background-color: #ffc107; /* Warna latar belakang, misal kuning */
    color: black; /* Warna teks, bisa disesuaikan */
    padding: 4px 5px; /* Agar teks lebih rapi */
    border-radius: 3px; /* Sudut melengkung */
  }
</style>
<div class="row">
  <div class="col-xs-12">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title">&nbsp;Checkin</h3>
      </div>
      <div class="box-body">
        <div class="row">
          <div class="clearfix">
            <div class="col-xs-12">
                <div class="card">
                    <form id="multiStepForm">
                  <!-- tahap 1 -->
                   <div class="tahap active">
                <table class="table table-bordered" style="display: block">
                  <tbody>
                    <tr>
                      <td><label for="ratePlan">Rate Plan</label></td>
                      <td>
                        <select name="id_roomplan" class="form-control" id=""></select>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="marketSegment">Market Segment</label></td>
                      <td>
                        <input
                          type="text"
                          class="form-control"
                          id="marketSegment"
                          value="WALK-IN"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td><label for="arrivalDate">Arrival Date</label></td>
                      <td>
                        <input
                          type="date"
                          class="form-control"
                          id="arrivalDate"
                    
                        />
                        <small>Klik ikon gambar, format: yyyy-mm-dd</small>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="departureDate">Departure Date</label></td>
                      <td>
                        <input
                          type="date"
                          class="form-control"
                          id="departureDate"
                          
                        />
                        <small id="nightCountText">1 Malam</small>
                      </td>
                    </tr>
                    <tr>
                      <td><label for="totalAdult">Total Adult</label></td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          id="totalAdult"
                          value="1"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td><label for="totalChild">Total Child</label></td>
                      <td>
                        <input
                          type="number"
                          class="form-control"
                          id="totalChild"
                          value="0"
                        />
                      </td>
                    </tr>
                    <tr>
                      <td><label for="banquet">Banquet</label></td>
                      <td>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="banquet"
                            id="banquetNo"
                            value="Tidak"
                            checked
                          />
                          <label class="form-check-label" for="banquetNo"
                            >Tidak</label
                          >
                        </div>
                        <div class="form-check form-check-inline">
                          <input
                            class="form-check-input"
                            type="radio"
                            name="banquet"
                            id="banquetYes"
                            value="Ya"
                          />
                          <label class="form-check-label" for="banquetYes"
                            >Ya</label
                          >
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
                <!-- /tahap 1 -->
                 <!-- tahap 2 -->
                  <div class="tahap">
                <div class="room">
                  <table class="table table-bordered">
                    <tr>
                      <td class="text-center" colspan="2">
                        <h5>STANDAR ROOM</h5>
                      </td>
                    </tr>
                    <tr>
                      <td><h5>jumlah kamar (STANDAR)</h5></td>
                      <td><input type="text" class="form-control" id="room-standar" /></td>
                    </tr>
                    <tr>
                      <td class="no-border">
                        <div id="roomSelection"></div>
                    <!--    <div class="d-flex align-items-center">
                          <h4 class="mb-0">1st Floor:</h4>
                          <div class="room-box ml-3">
                            <input type="checkbox" id="room-floor" />
                            <label for="room101" class="vacant">101</label>
                          </div>
                          
                        </div>
                    -->
                      </td>
                    </tr>
                    <td class="text-center" colspan="2">
                        <h5>DELUXE ROOM</h5>
                      </td>
                    </tr>
                    <tr>
                      <td><h5>jumlah kamar (DELUXE)</h5></td>
                      <td><input type="text" class="form-control" /></td>
                    </tr>
                    <tr>
                      <td class="no-border">
                        <div class="d-flex align-items-center">
                          <h4 class="mb-0">1st Floor:</h4>
                          <div class="room-box ml-3">
                            <input type="checkbox" id="room-floor" />
                            <label for="room101" class="">101</label>
                          </div>
                         
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
            </div>
                <!-- /tahap 2 -->
                 <div class="tahap">
                    <table class="table table-bordered">
                        <tbody>
                          <tr>
                            <td><label for="ratePlan">Nama</label></td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="ratePlan"
                                value=""
                                placeholder="INPUT NAME"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td><label for="ratePlan">ID Number</label></td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="ratePlan"
                                value=""
                                placeholder="INPUT ID"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td><label for="ratePlan">Guest Type</label></td>
                            <td>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="guest_type" id="regular" value="regular" required>
                                      <label class="form-check-label" for="regular">Regular</label>
                                      <input class="form-check-input" type="radio" name="guest_type" id="vip" value="vip" required>
                                      <label class="form-check-label" for="vip">Vip</label>
                                    </div>
                                  </div>
                            </td>
                          </tr>
                          <tr>
                            <td><label for="marketSegment">Tgl Lahir</label></td>
                            <td>
                                <div class="form-group row">
                                  <div class="col-md-6">
                                    <input
                                      type="text"
                                      class="form-control"
                                      id="marketSegment"
                                      placeholder="Market Segment"
                                    />
                                  </div>
                                  <div class="col-md-6">
                                    <input
                                      type="date"
                                      class="form-control"
                                      id="marketSegmentDate"
                                    />
                                  </div>
                                </div>
                                <small>Klik ikon gambar, format: yyyy-mm-dd</small>
                              </td>
                              
                              
                          </tr>
                          <tr>
                            <tr>
                                <td>
                                <label for="jk">Jenis Kelamin</label>
                            </td>
                                <td>
                                    <div class="form-group">
                                        <div class="form-check form-check-inline">
                                          <input class="form-check-input" type="radio" name="jk" id="jkLaki" value="laki-laki" required>
                                          <label class="form-check-label" for="jkLaki">Laki-Laki</label>
                                          <input class="form-check-input" type="radio" name="jk" id="jkPerempuan" value="perempuan" required>
                                          <label class="form-check-label" for="jkPerempuan">Perempuan</label>
                                        </div>
                                      </div>
                                </td>
                            </tr>
                            <tr>
                            <td><label for="arrivalDate">Agama</label></td>
                            <td>
                             <select name="" id="" class="form-control" style="width: 50%;">
                                <option value="islam">Islam</option>
                                <option value="hindu">Hindu</option>
                                <option value="kristen">Kristen</option>
                             </select>
                            </td>
                          </tr>
                          <tr>
                            <td>
                            <label for="judul">judul</label>
                        </td>
                            <td>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                      <input class="form-check-input" type="radio" name="judul" id="judulMr" value="Mr" required>
                                      <label class="form-check-label" for="judulMr">Mr</label>
                                      <input class="form-check-input" type="radio" name="judul" id="judulMrs" value="Mrs" required>
                                      <label class="form-check-label" for="judulMrs">Mrs</label>
                                      <input class="form-check-input" type="radio" name="judul" id="judulMiss" value="Miss" required>
                                      <label class="form-check-label" for="judulMiss">Miss</label>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label for="arrivalDate">Pekerjaan</label></td>
                            <td>
                             <select name="" id="" class="form-control" style="width: 50%;">
                                <option value="karyawan swasta">Karyawan Swasta</option>
                                <option value="petani">Petani</option>
                                <option value="pns">Pns</option>
                                <option value="dokter">Dokter</option>
                             </select>
                            </td>
                          </tr>
                          <tr>
                            <td><label for="arrivalDate">Alamat</label></td>
                            <td>
                                <textarea name="" id="" class="form-control" style="width: 50%; height: 130px;"></textarea>
                            </td>
                          </tr>
                          <tr>
                            <td><label for="ratePlan">Email</label></td>
                            <td>
                              <input
                                type="email"
                                class="form-control"
                                id="ratePlan"
                                value=""
                                placeholder="INPUT EMAIL"
                              />
                            </td>
                          </tr>
                          <tr>
                            <td><label for="ratePlan">Nomer Tlp</label></td>
                            <td>
                              <input
                                type="text"
                                class="form-control"
                                id="ratePlan"
                                value=""
                                placeholder="INPUT TLP"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                 </div>
                <div class="d-flex justify-content-between">
                    <button type="button" id="prevBtn" class="btn btn-secondary">Previous</button>
                                    <button type="button" id="nextBtn" class="btn btn-primary">Next</button>
                                    <button type="submit" id="submitBtn" class="btn btn-success" style="display:none;">Submit</button>
                </div>
            </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
